body input[type=radio]:nth-child(1):checked ~ ul > li:nth-child(1) {
  display: block;
}
body input[type=radio]:nth-child(2):checked ~ ul > li:nth-child(2) {
  display: block;
}
body input[type=radio]:nth-child(3):checked ~ ul > li:nth-child(3) {
  display: block;
}
body input[type=radio]:nth-child(4):checked ~ ul > li:nth-child(4) {
  display: block;
}
body input[type=radio]:nth-child(5):checked ~ ul > li:nth-child(5) {
  display: block;
}
body ul li {
  display: none;
}
